.categorias .moduleperiodico_impreso{
	position: static;
	margin-top: 120px !important;
    left: 0%;
	width: 24%;
	float: right;
}
.categorias .moduleiconos_redes{
	float: right;
    position: static;
    width: 17.5% !important;
    margin: 530px -234px 0 0 !important;
    height: 12em;
}
.categorias .moduleluz_medios{
	position: static;
    width: 23%;
    margin: 663px 0px 0px 867px !important;
    height: 27em;
}
.categorias .moduleinstagram{
	position: relative;
    left: 79%;
    top: -16em;
    width: 20%;
}
.categorias .modulesim{
	position: relative;
    bottom: 12em;
}
.categorias .blogcategorias{
	position: static;
    width: 69%;
    margin-left: 5%;
    margin-top: -1522px;
}
.categorias .col-lg-12{
	height: 111em;
}
.blogcategorias .items-leading a, .blogcategorias .items-row a{
    font-size: 0.8em;
}
.categorias #t3-content{
    height: 0em;
}
.categorias .items-leading .item-image img{
    width: 550px;
    height: 250px
}
.categorias .items-leading .readmore{
    float: right;
    position:relative;
    bottom: 2em;
}
.categorias .items-leading .article-intro p span{
    font-size: 1.1em !important;
}
.categorias .items-row .article-title a{
    font-size: 0.6em;
}
.categorias .items-row .article-title{
    line-height: 22px;
}
.categorias .items-row .article-aside{
    height: 1.5em;
    margin-bottom: 7px;
}
.categorias .items-row .item-image img{
    width: 200px;
}
.categorias. .items-row{
    height: 23em;
}
.categorias .items-row .article-intro{
    margin-bottom: 10px;
}
.categorias .items-row .article-intro p span{
    font-size: 1em;
}
.categorias .pagination, .categorias .counter{
    position:relative;
    bottom: 3em;
}
.categorias .icon-calendar{
    display: none;
}
.categorias .published{
    font-size: 1.4em;
}
.categorias .hits{
    display: none;
}
.categorias .sp-comments{
    display: none;
}
.categorias .readmore a{
    font-size: 1em;
    border-radius: 8%;
    background-color: #11549a;
    border-color: #11549a;
    color:white;
}
.categorias .readmore a:hover{
    background-color: #00b4ff;
    border-color: #00b4ff;
    color: white;
}
.categorias .items-row .category-name{
    float: right;
}
/*LUZ PERÍODICO*/

.estilos_periodico .moduleperiodico_impreso{
    position: static;
    margin-top: 120px !important;
    left: 0%;
    width: 24%;
    float: right;
}
.estilos_periodico .moduleiconos_redes{
    float: right;
    position: static;
    width: 17.5% !important;
    margin: 530px -234px 0 0 !important;
    height: 12em;
}
.estilos_periodico .moduleluz_medios{
    position: static;
    width: 23%;
    margin: 663px 0px 0px 867px !important;
    height: 27em;
}
.estilos_periodico .moduleinstagram{
    position: relative;
    left: 79%;
    top: -16em;
    width: 20%;
}
.estilos_periodico .item-pageestilos_periodico{
    position: static;
    width: 69%;
    margin-left: 5%;
    margin-top: -1121px;
}
.estilos_periodico .col-lg-12{
    height: 80em;
}
.estilos_periodico .items-leading a, .estilos_periodico .items-row a{
    font-size: 0.8em;
}
.estilos_periodico #t3-content{
    height: 0em;
}
.estilos_periodico .items-leading .item-image img{
    width: 185px;
}
.estilos_periodico .items-leading{
    display: flex;
    justify-content: center;
    text-align: center;
}
.estilos_periodico .items-leading .leading{
    margin-right: 4%;
    margin-left: 10%;
}
.estilos_periodico .items-leading .readmore{
    float: right;
    position:relative;
    bottom: 2em;
}
.estilos_periodico .items-leading .article-intro p span{
    font-size: 1.1em !important;
}
.estilos_periodico .items-leading .article-header{
    width: 90%;
    height: 3em;
    margin-left: 0%;
    background-color: #0d4081;
}
.estilos_periodico .items-row .article-title a{
    font-size: 0.6em;
}
.estilos_periodico .items-row .article-title{
    line-height: 22px;
}
.estilos_periodico .items-row .article-aside{
    height: 1.5em;
    margin-bottom: 7px;
}
.estilos_periodico .items-row .item-image img{
    width: 185px;
    margin-left: 14%;
}
.estilos_periodico .items-row{
    height: 23em;
    text-align: center;
}
.estilos_periodico .items-row .article-header{
    width: 78%;
    height: 3em;
    margin-left: 11%;
    padding-top: 2%;
    background-color: #0d4081;
}
.estilos_periodico .items-leading article, .estilos_periodico .items-row article{
    display: flex;
    flex-direction: column-reverse;
}
.estilos_periodico .readmore{
    display: none;
}
.estilos_periodico .article-content{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.estilos_periodico .pagenav{
    display: none;
}
.estilos_periodico .article-header a{
    text-decoration: none;
    color: white;
}
.estilos_periodico .article-header:hover{
    background-color: #ff7200;
}
.estilos_periodico .items-row .article-intro{
    margin-bottom: 10px;
}
.estilos_periodico .items-row .article-intro p span{
    font-size: 1em;
}
.estilos_periodico .pagination, .estilos_periodico .counter{
    position:relative;
    bottom: 3em;
}
.estilos_periodico .icon-calendar{
    display: none;
}
.estilos_periodico .published{
    font-size: 1.4em;
}
.estilos_periodico .hits{
    display: none;
}
.estilos_periodico .sp-comments{
    display: none;
}
.estilos_periodico .readmore a{
    font-size: 1em;
    border-radius: 8%;
    background-color: #11549a;
    border-color: #11549a;
    color:white;
}
.estilos_periodico .readmore a:hover{
    background-color: #00b4ff;
    border-color: #00b4ff;
    color: white;
}
.estilos_periodico .items-row .category-name{
    float: right;
}
.estilos_periodico .article-index{
    display: none;
}
.estilos_periodico .pagenavcounter{
    position: relative;
    top: 59.5em;
    float: right;
}
.tabla_periodico .imagen_periodico, .tabla_periodico .texto_periodico{
    border: 1px dotted #0d4081; 
    padding: 4px;
}
.tabla_periodico .texto_periodico{
    background-color: #0d4081;
}
.tabla_periodico .texto_periodico a{
    color: white;
    font-size: 1.5em;
}
.tabla_periodico .texto_periodico_blanco{
    border-top: 1px dotted #0d4081;
    border-bottom: 1px dotted #0d4081;
    padding: 4px;
}
.estilos_periodico .modulesim_articulos{
    margin-top: -341px;
}
.tabla_periodico .texto_periodico:hover{
    background-color: #ff7200;
}
.tabla_periodico .texto_periodico a:hover{
    text-decoration: none;
}
.estilos_periodico .blogestilos_periodico{
    position: static;
    width: 69%;
    margin-left: 5%;
    margin-top: -1058px;
}
/*La Uni en los Medios*/
.enlace_medios{
    display: none !important;
}
.categorias_medios .moduleperiodico_impreso{
    position: static;
    margin-top: 120px !important;
    left: 0%;
    width: 24%;
    float: right;
}
.categorias_medios .moduleiconos_redes{
    float: right;
    position: static;
    width: 17.5% !important;
    margin: 530px -234px 0 0 !important;
    height: 12em;
}
.categorias_medios .moduleluz_medios{
    position: static;
    width: 23%;
    margin: 663px 0px 0px 867px !important;
    height: 27em;
}
.categorias_medios .moduleinstagram{
    position: relative;
    left: 79%;
    top: -16em;
    width: 20%;
}
.categorias_medios .modulesim{
    position: relative;
    bottom: 12em;
}
.categorias_medios .item-pagecategorias_medios{
    position: static;
    width: 69%;
    margin-left: 5%;
    margin-top: -1420px;
}
.categorias_medios{
    height: 136em;
}
.categorias_medios .col-lg-12{
    height: 105em;
}
.category-listcategorias{
    position: relative;
    bottom: 105em;
    width: 50%;
    left: 17%;
}
.category-listcategorias a{
    font-size: 1.5em;
    color:white;
    text-decoration: none;
}
.category-listcategorias .list-title{
    background-color: #063e77;
}
.category-listcategorias .list-title:hover{
    background-color: #ff7200;
}
.category-listcategorias .item-pagecategorias{
    width: 58% !important;
    margin-left: 15% !important;
    height: 84em !important;
    overflow-y: auto !important;
}
.notas_medios td img{
    width: 26px !important;
    height: 23px !important;
}
.category-listcategorias .accordion-group{
    background-color: #063e77;
}
.category-listcategorias .accordion-body{
    background-color: white;
}
.category-listcategorias .accordion-body a{
    color: #063e77;
}
.category-listcategorias .accordion-body li{
    list-style: none;
}
@media (min-width: 320px) and (max-width: 559px){
    .categorias .blogcategorias{
        width: 97%;
    }
    .categorias .items-leading .item-image img{
        width: 300px !important;
        height: 128px;
    }
    .categorias .espacio_redes_footer{
        margin-top: 143%;
    }
    .categorias footer{
        height: 0em;
        margin-top: 74em;
    }
    .modulesim_articulos, .categorias .moduleiconos_redes{
        display: none !important;
    }
    .categorias .moduleperiodico_impreso{
        position: relative;
        top: 139% !important;
        left: -74%;
    }
    .categorias .moduleperiodico_impreso .module-title{
        width: 408%;
    }
    .categorias .readmore a{
        float: right;
    }
    .categorias .items-row .article-title a, .blogcategorias .items-leading a, .blogcategorias .items-row a{
        font-size: 0.9em;
    }
    .categorias .moduleiconos_redes{
        position: relative;
        margin: 0px;
    }
    .categorias .moduleluz_medios{
        position: relative;
        margin-left: 0px !important;
        display: block !important;
        bottom: -152em;
        width: 100%;
        left: 0%;
        height: 11em;
        margin-right: 0px !important;
    }
    .categorias .moduleluz_medios .module-ct{
        height: 10em;
    }
    .categorias .espacio_redes_footer{
        margin-top: 37%;
    }
    .categorias .t3-navhelper{
        display: none;
    }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
        z-index: 0;
    }
    /*LUZ Periodico*/

    .estilos_periodico .items-leading{
        flex-direction: column;
    }
    .estilos_periodico .blogestilos_periodico{
        width: 100%;
        margin-left: 11px;
        margin-top: 0px;
        z-index: 2;
        height: 56em;
        overflow-y: scroll;
    }
    .estilos_periodico body{
        height: 175%;
    }
    .estilos_periodico #t3-content{
        height: 70em;
        z-index: 0;
        position: relative;
        bottom: 74em;
        margin-bottom: -840px;
    }
    .estilos_periodico .pagination, .estilos_periodico .counter{
        bottom: -65em;
    }
    .estilos_periodico .moduleperiodico_impreso{
        display: none;
    }
    .estilos_periodico .moduleiconos_redes{
        position: relative;
        width: 47% !important;
        left: -55%;
        top: 85%;
        margin: 0px !important;
    }
    .estilos_periodico .moduleluz_medios{
        position: relative;
        width: 98%;
        margin: 0px !important;
        top: 91%;
    }
    .estilos_periodico .items-leading .item-image img{
        width: 217px !important;
    }
    .estilos_periodico .items-row .item-image img{
        width: 218px !important;
    }
    .estilos_periodico .items-row .article-title a{
        font-size: 0.8em;
    }
    .estilos_periodico .items-row .article-header{
        padding-top: 3%;
    }
    .estilos_periodico .pagination{
        position: static;
        margin-top: 33em;
    }
    .estilos_periodico .counter{
        position: relative;
        bottom: -33em;
    }
    .estilos_periodico .items-row{
        height: 100%;
    }
    .estilos_periodico .item-pageestilos_periodico{
        margin-top: 0px;
        margin-bottom: -1086px;
        width: 100%;
    }
    .estilos_periodico .item-pageestilos_periodico .article-content img{
        display: none;
    }
    .estilos_periodico .item-pageestilos_periodico .article-content a{
        font-size: 1.5em;
    }
    /*LUZ en los Medios*/
    .notas_medios td img{
        width: 100px !important;
        height: 25px !important;
    }
    .itemid-131 .categorias .t3-mainbody{
        position: relative;
        bottom: 103em;
        height: 43em;
    }
    .itemid-131 .moduleperiodico_impreso{
        position: relative;
        top: 40% !important;
        left: -74%;
    }
    .itemid-131 .moduleluz_medios{
        bottom: -45em !important;
    }
    .itemid-131 .col-lg-12{
        margin-bottom: -1583px;
    }
    .itemid-131 .content-categorycategorias{
        position: relative;
        top: 110em;
        width: 194%;
        right: 31%;
    }
    .itemid-131 .espacio_redes_footer{
        margin-top: 52%;
    }
    .itemid-131 #t3-content{
        height: 45em;
        overflow-y: auto;
        margin-bottom: -485px;
    }
    .itemid-131 .moduleperiodico_impreso h3 span{
        font-size: 1.3em;
    }
    .itemid-131 .panel-heading a{
        background-color: #063e77 !important;
    }
    .itemid-131 .accordion-toggle span{
        color: white;
    }
}