@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic);
*{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.col-lg-12 .col-md-12 .col-sm-12 .col-xs-12{
	z-index: 1;
}
.logo a{
	background-color: transparent;
}
td, tr td{
	border-top-color: transparent;
}
.t3-sl-1{
	border-bottom: 0px;
}
.menu_agencia{
	position: fixed;
	right: 0px;
	top: 168px;
    width: 111%;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	z-index: 3;
	background-color: #ccc;
	padding-left: 24.5em !important;
}
.menu_agencia li{
	position:relative;
	left: 7%;
	font-weight: 600;
}
.menu_agencia li a{
	font-size: 16px;
	color: #656565;
}
.menu_agencia li a:hover{
	background-color: #0077bb;
	color: white;
	margin: -2px;
}
li.active > a:hover{
	background-color: #0077bb !important;
	color: white !important;
	
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color: transparent;
	color: #656565;
}
.menu_agencia .item-117 a:hover{
	margin: 0px !important;
}
.menu_agencia li a:focus, .menu_agencia li a:hover, .menu_agencia li a{
	height: 2.78em;
}
.menu_agencia li{
	height: 3em;
}
.navbar-nav{
	background-color: #11549a;
    width: 93em;
    right: 6%;
    position: relative;
    bottom: 4em;
    padding-left: 18em !important;
}
.navbar-nav li a{
	font-size: 16px;
	font-weight: 600;
    color: white !important;
}
.navbar-nav li{
	position: relative;
	right: 4%;
}
.navbar-nav li a:hover{
	color: black !important;
}
.navbar-default{
	height: 12em;
	background-color: #063e77;
	z-index: 3;
}
.logo-image{
	position: relative;
    top: 35px;
    left: 37%;
}
.logo-image > a > img{
	max-width: 130%;
}
.logo-image a:hover{
	background-color: transparent !important;
}
.navbar-nav li{
	padding: 0px 2%;
}
.navbar-nav li:hover{
	background-color: #bdce0c;
	border-bottom: none !important;
}
.navbar-nav li a:hover{
	color: black !important;
	font-weight: bold;
}
.customtitulo_web{
	position: fixed;
    left: 32%;
    top: 80px;
	border-left: 1px solid white;
	border-top: 0px !important;
    width: 15%;
    font-size: 20px;
    padding: 1% 0px 0px 1% ;
    height: 3em;
    z-index: 3;
}
.customtitulo_web p{
	color: white;
	line-height: 15px;	
	font-weight: bold;
}
.modulebanners{
	position: relative;
    top: 7em;
    z-index: 0;
}
.modulebanners div span{
	display: none;
}
.customredes_header{
	position: fixed;
	top: 70px;
	left: 67%;
	z-index: 3	;
}
.customredes_header table{
	border-collapse: separate;
    border-spacing: 11px;
}
.sprocket-features, .sprocket-features-img-list img{
	width: 1140px !important;
    height: 400px !important;
}
.modulebanners div span{
	display: block;
}
.sprocket-features-arrows span{
	bottom: 10px;
    position: relative;
}
.portfolio .slide-item-wrap-item .slide-item-desc-warp{
	opacity: 1 !important;
}
.modulenoticias_destacadas{
	position: relative;
    top: 6em;
    width: 55%;
    height: 30.35em;
    z-index: 1;
}
.slide-item-title a{
	color: #0f5499 !important;
}
.slide-item-title{
	text-align: center;
}
.slide-item-readmore a{
	color: white !important;
	font-weight: 600;
}
.slide-item-readmore a:hover{
	text-decoration: none;
}
.slide-item-readmore:hover{
	background-color: #00b4ff;
}
.slide-item-readmore{
	background-color: #0f5499;
    padding: 4% 3% 6% 3%;
}
.slide-item-readmore a{
	font-size: 1em;
}
.modulenoticias_destacadas h3{
	margin-bottom: 0px;
    border-top: 2.5px solid #bebebe !important;
    border-bottom: 2.5px solid #bebebe !important;
    padding: 2.5%;
    color: #11549a;
}
.moduleotras_secciones{
	float: right;
    position: relative;
    right: 23.5%;
    bottom: 341px;
    width: 22%;
	z-index: 1;
}
.moduleotras_secciones h3{
	margin-bottom: 0px;
    border-top: 2.5px solid #bebebe !important;
    border-bottom: 2.5px solid #bebebe !important;
    padding: 6.2%;
    position:relative;
    bottom: 20px;
    color: #11549a;
}
.moduleotras_secciones li a:hover{
	background-color: #11549a;
    color: white;
}
.moduleotras_secciones li a{
	position: relative;
    bottom: 22px;
	font-weight: bold;
    font-size: 1.3em;
    color: #898989;
}
.moduleotras_secciones .module-ct, .moduleperiodico_impreso .module-ct{
	margin: 5%;
}
.moduleperiodico_impreso{
	position: relative;
    left: 22%;
    bottom: 341px;
	width: 24%;
	float: right;
}
.moduleperiodico_impreso h3{
	margin-bottom: 0px;
    border-top: 2.5px solid #bebebe !important;
    border-bottom: 2.5px solid #bebebe !important;
    padding: 6.2% 6.2% 5% 7%;
    position:relative;
    bottom: 20px;
    color: #11549a;
}
.moduleperiodico_impreso .module-ct{
	margin: 0px;
}
.customperiodico_impreso .edicion_periodico{
	background-color: #11549a;
	padding: 2% 0%;
    color: white;;
}
.customperiodico_impreso a{
	text-decoration: none;
	color: white;
    font-weight: 600;
    font-size: 1.2em;
}
.customperiodico_impreso .edicion_periodico:hover{
	background-color: #ff7200;
}
.moduleiconos_redes{
	float: right;
    position: relative;
    left: 42.78%;
    top: 59px;
    width: 17.5% !important;
}
.moduleiconos_redes h3{
	margin: 0px;
	background-color: #11549a;
	padding: 10% 10% 5% 10%;
	color: white;
}
.noticias_categorias{
	position: relative;
    bottom: 380px;
    background-color: #dcdcdc;
    height: 232px;
    width: 76.5%;
    padding: 1% 1%;
}
.modulenoticias_categorias{
	position: relative;
    top: 85px;
}
.modulenoticias_categorias .slide-item-zoom{
	display: none;
}
.modulenoticias_categorias .slide-item-readmore{
	border-radius: 0px;
}
.modulenoticias_categorias .slide-item-title a{
	font-weight: bold;
}
#filters li.current a, #filters li a{
	background: transparent;
	color: #828282;
	display: table-row;
}
#filters li.current, #filters li{
	border-right: 1px solid black;
	padding-right: 0.3%;
}
#filters li.current a, #filters li a:hover{
	background: transparent;
	color: #11549a;
}
.filtros{
	width: 90%;
}
.filtros li{
	position:relative;
	top: 15px;
	font-size: 1.392em !important;
}
.moduleluz_medios{
	position: relative;
    width: 23%;
    left: 77%;
    bottom: 847px;
    list-style: none !important;
}
.moduleluz_medios li{
	list-style: none !important;	
}
.moduleluz_medios a{
	text-decoration: none;
	color: black;
}
#jmnewspro-124{
	position: relative;
    bottom: 21em;
	height: 75em;
    width: 79%;
}
#jmnewspro-124 .category{
	text-align: center;
	background-color: #11549a;
	color: white;
	font-size: 1.2em !important;
    font-weight: bold;
}
.noticiascategorias{
	z-index: 0;
}
.espacio_redes_footer{
	padding: 0px;
}
.espacio_redes_footer{
	padding-top: 3%;
	background-color: #545454;
}
.customredes_footer{
	position:relative;
	left: 28%;
}
.iconos_redesfooter{
	text-align: center;
	padding-bottom: 1em;
}
.primer_menufooter, .segundo_menufooter{
	border-right: 2px solid #545454;
    border-right-style: dotted;
    height: 30em;
}
.tercer_menufooter, .cuarto_menufooter{
	border-left: 2px solid #545454;
    border-left-style: dotted;
    height: 30em;
}
.adn, .luz_periodico, .radio, .luzweb, .teveluz{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.adn:hover, .luz_periodico:hover, .radio:hover, .luzweb:hover, .teveluz:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}
.moduleinstagram{
	position: relative;
    bottom: 60em;
    left: 80%;
    z-index: 1;
    width: 19%;
}
.custominstagram iframe{
	height: 350px !important;
}
.modulemultimedia{
	position:relative;
	bottom: 80em;
	z-index: 0;
}
.modulemultimedia .youtube{
	width: 45%;
}
.modulesim{
	position: relative;
    bottom: 95em;
    width: 97%;
}
.col-lg-12{
	height: 144em	;
}
.iconos_redesfooter img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.noticiascategorias a, .noticias_destacadas a{
	font-size: 1.1em !important;
}
.noticiascategorias .slide-item-desc, .noticias_destacadas .slide-item-desc{
	font-size: 1em !important;	
}
.modulesnapchat{
	position: relative;
    bottom: 95em;
    left: 79%;
    width: 20%;
}
.home #t3-mainbody{
	padding-bottom: 93px;
}
.home .modulesim{
	display: block !important;
}
.home .addthis_sharing_toolbox{
	display: none;
}
.home .estilos_articulos{
	height: 55em;
}
.periodico{
	display: none !important;
}
.modulebuscar{
	position: fixed;
    top: 104px;
    z-index: 3;
    left: 64%;
}
.modulebuscar label[for="mod-search-searchword"], .modulebuscar .fa-search{
	display: none;
}
.modulebuscar .searchbuscar{
	display: flex;
}
.modulebuscar .buttonbuscar{
	margin-right: 4%;
	border-radius: 8%;
}
.borde_punteado{
	border: 1px dotted #0d4081; padding: 4px;
}
/*.layout-slideshow .sprocket-features-title, .layout-slideshow .sprocket-features-desc{
	background: rgba(255,255,255,0.5);
    color: black;
    top: 9em;
    position: relative;
    width: 38em;
}*/
/*Busquedas*/
.view-search .modulebanners, .view-search .modulenoticias_destacadas, .view-search .moduleotras_secciones, .view-search .modulenoticiascategorias, .view-search .modulemultimedia{
	display: none;
}
.view-search .moduleperiodico_impreso{
	position: static;
	margin-top: 120px !important;
    left: 0%;
	width: 24%;
	float: right;
}
.view-search .moduleiconos_redes{
	float: right;
    position: static;
    width: 17.5% !important;
    margin: 530px -234px 0 0 !important;
    height: 12em;
}
.view-search .moduleluz_medios{
	position: static;
    width: 23%;
    margin: 663px 0px 0px 867px !important;
    height: 27em;
}
.view-search .moduleinstagram{
	position: relative;
    left: 79%;
    top: -16em;
    width: 20%;
}
.view-search .modulesim{
	position: relative;
    bottom: 12em;
}
.view-search .modulesnapchat{
	position: relative;
    bottom: 18em;
    left: 78%;
    width: 20%;
}
.view-search .phrases, .view-search .only, .view-search .form-limit{
	display: none;
}
.view-search .search{
	position: static;
    margin-top: -1677px;
    width: 72%;
}
.view-search .search-results{
	height: 85em;
    overflow-y: scroll;
}
.view-search #search-searchword{
	width: 80%;
}
.view-search .btn-default{
	background-color: #063e77;
	color: white;
}
.view-search .input-group-btn{
	float: left;
}
.view-search .t3-sl-1{
	margin-bottom: -300px;
}
.view-search .pagination{
	position:relative;
	bottom: 2em;
}
@media( max-width: 1920px) and (min-width: 1441px){
	.navbar-nav{
		width: 142em;
    	right: 20%;
    	padding-left: 39em !important;
	}
	.menu_agencia{
		padding-left: 51.5em !important;
	}
	.customtitulo_web{
		left: 38%;
	}
	.customredes_header{
		left: 65%;
	}
	.espacio_redes_footer{
		padding-top: 1.5%;
	}

	@media (max-width: 1839px){
		.navbar-nav{
			padding-left: 40em !important;
		}
		.menu_agencia{
			padding-left: 48.5em !important;
		}
		.espacio_redes_footer{
			padding-right: 1%;
		}
	}
	@media (max-width: 1771px){
		.menu_agencia{
			padding-left: 46.5em !important;
		}
	}
	@media (max-width: 1706px){
		.menu_agencia{
			padding-left: 43.5em !important;
		}
		.navbar-nav{
			padding-left: 39em !important;
		}
		.customtitulo_web{
			left: 36%;
		}
		.espacio_redes_footer{
			padding-right: 2%;
		}
	}
	@media (max-width: 1660px){
		.menu_agencia{
			padding-left: 41.8em !important;
		}
		.navbar-nav{
			padding-left: 39.8em !important;
		}
	}
	@media (max-width: 1594px){
		.menu_agencia{
			padding-left: 39em !important;
		}
	}
	@media (max-width: 1526px){
		.menu_agencia{
			padding-left: 37em !important;
		}
	}
	@media (max-width: 1464px){
		.menu_agencia{
			padding-left: 34em !important;
		}
		.customtitulo_web{
			left: 34%;
		}
	}
}
@media(max-width: 1440px) and (min-width: 1289px){
	.navbar-nav{
		width: 104em;
    	right: 11%;
    	padding-left: 24em !important;
	}
	.customtitulo_web{
		left: 34%;
	}
	.menu_agencia{
		right: -27px;
		padding-left: 30.5em !important;
	}
	@media(max-width: 1401px){
		.menu_agencia{
			right: -4px;
			padding-left: 31.5em !important;
		}
	}
	@media(max-width: 1355px){
		.menu_agencia{
			padding-left: 29em !important;
		}
	}
	@media (max-width: 1319px){
		.menu_agencia{
			padding-left: 28em !important;
		}
		.customtitulo_web{
			left: 32%;
		}
	}
}
@media(max-width: 1199px) and (min-width: 768px){
	.navbar-nav{
		right: 11%;
	}
	.sprocket-features, .sprocket-features-img-list img{
		width: 1000px !important;
	}
	.customtitulo_web{
		left: 36%;
	}
	.logo-image{
		left: 12%;
	}
	.modulenoticias_destacadas{
		width: 59%;
	}
	.moduleotras_secciones{
		right: 17.5%;
		width: 24%;
	}
	.moduleperiodico_impreso{
		left: 32.5%;
    	width: 26.7%;
	}
	.moduleiconos_redes{
		left: 54.7%;
	}
	.moduleluz_medios{
		left: 83.5%;
	}
	.moduleinstagram{
		left: 85%;
	}
	.modulesnapchat{
		bottom: 93em;
    	left: 85.5%;
	}
	.modulesnapchat img{
		width: 82%;
	}
	.modulesim{
		width: 105%;
		bottom: 93em;
	}
	.home #t3-mainbody{
		padding-bottom: 60px;
	}
	.home .t3-wrapper{
		left: -15px;
	}
	#t3-footer{
		width: 101.1%;
	}
	.t3-navhelper{
		width: 101.1%;
	}
	.modulemultimedia .soundcloud iframe{
		width: 62% !important;
	}
}
@media (min-width: 320px) and (max-width: 559px){
	.logo-image{
		left: 1%;
		top: 30px;
		border-left: transparent !important;
	}
	#Mod181{
		display: none;
	}
	.moduleredes_header, .modulebanners, .moduleotras_secciones, .modulemultimedia, .moduleinstagram{
		display: none;
	}
	.navbar-default{
		height: 14em;
		z-index: 1;
	}
	.customtitulo_web{
		width: 50%;
		border-left: transparent;
		text-align: center;
		top: 5.5em;
		font-size: 1.6em;
		left: 30%;
		border-top: 1px solid white !important;
		padding-top: 3%;
		z-index: 3 !important;
	}
	.t3-navbar-collapse{
		z-index: 5;
	}
	.menu_agencia_movil a{
		font-size: 1.2em;
	}
	.t3-off-canvas-header-title{
		display: none;
	}
	.navbar-nav{
		text-align: right;
		width: auto;
		right:0%;
		padding-left: 0% !important;
		bottom: 0em;
		z-index: 5;
	}
	.moduletitulo_web{
		display: none;
		z-index: 3 !important;
	}
	.menu_agencia{
		display: none;
	}
	.modulebuscar{
		position: fixed;
		top: 29.4em;
    	z-index: 1;
    	left: 2%;
    	width: 91%;
	}
	.modulenoticias_destacadas{
		top: 11em;
		width: 99%;
		height: 37em;
	}
	.modulenoticias_destacadas .module-title{
		font-size: 1.5em;
	}
	#jmnewspro-124, .modulenoticiascategorias{
		bottom: 27em;
		width: 99%;
		height: 35em;
		z-index: -1;
	}
	#jmnewspro-124 .NavButtons{
		position: relative;
    	bottom: 17em;
	}
	#jmnewspro-124 .category{
		font-size: 1.5em !important;
	}
	.jmnewspro.default .slide-item-title{
		font-size: 1.5em !important;
	}
	.jmnewspro.default .slide-item-desc{
		font-size: 1.3em !important;
	}
	.noticias_destacadas .slide-item-readmore a{
		font-size: 1.2em !important;
	}
	.moduleperiodico_impreso{
		left: -22%;
		width: 78%;
		bottom: -647px;
	}
	.moduleperiodico_impreso .module-title{
		font-size: 1.7em !important;
		width: 125%;
		text-align: center;
	}
	.moduleperiodico_impreso img{
		width: 278px;
    	height: 437px;
	}
	.customperiodico_impreso a{
		font-size: 1.7em;
	}
	.home .estilos_articulos{
		display: none;
	}
	.moduleiconos_redes{
		top: 84em;
		left: 0%;
	}
	.moduleiconos_redes img{
		width: 80px;
		height: 80px;
	}
	.moduleiconos_redes td{
		padding-right: 19%;
	}
	.moduleluz_medios{
		width: 100%;
		left: 0%;
		bottom: -853px;
	}
	.moduleluz_medios img{
		width: 87%;
    	height: 8em;
    	margin-top: 21px;
	}
	.modulesnapchat{
		bottom: -62em;
		left: 16%;
	}
	.col-lg-12{
		height: 156em;
	}
	.home .modulesim{
		display: none !important;
		top: 17em;
	}
	.customredes_footer{
		left: -1%;
	}
	.navbar-toggle, .navbar-default .navbar-toggle:hover{
		background: url("http://localhost/adn/images/Logos/Escudo_LUZ.png");
    	background-size: 58% 100%;
    	background-position: 50%;
    	background-repeat: no-repeat;
	}
	.navbar-toggle .fa-bars{
		display: none;
	}
	.modulenoticias_destacadas{
		z-index: 0;
	}
	/*Pagina de Buscar*/

	.view-search .search{
		margin-top: -2126px;
    	width: 104%;
	}
	.view-search .moduleperiodico_impreso{
		position: relative;
    	top: 111em !important;
    	left: -75%;
	}
	.view-search .moduleperiodico_impreso .module-title{
		width: 409%;
	}
	.view-search .col-lg-12{
		height: 183em;
	}
	.view-search .pagination{
		bottom: 0em;
	}
	.view-search .espacio_redes_footer{
		padding-top: 6%;
    	margin-top: 0%;
    	padding-bottom: 6%;
    	padding-left: 2%;
	}
	.view-search .modulesnapchat{
		position: relative;
    	bottom: -80em;
    	left: 17%;
	}
	.view-search .moduleluz_medios{
		width: 87%;
    	height: 12em;
    	margin: 0px !important;
    	margin-top: 2272px !important;
    	margin-left: 20px !important;
	}
	.view-search .moduleluz_medios img{
		width: 100%;
    	height: 8em;
	}
	.view-search .search .input-group{
		z-index: 0;
	}
	.view-search .moduleiconos_redes{
		margin: 1543px 203px 0 0 !important;
	}
	.view-search .moduleiconos_redes img{
		width: 70px;
    	height: 70px;
	}
	.view-search .espacio_redes_footer img{
		width: 45px;
		height:45px;
	}
}