@-moz-document url-prefix() {

	.modulesim{
		margin-bottom: -660px !important;
	}
	.modulemultimedia .youtube iframe{
		height: 28.2em !important;
	}
	.estilos_periodico .modulesim_articulos{
		margin-top: -330px !important;
		margin-bottom: -19px !important;
	}
	.adn, .luz_periodico, .radio, .luzweb, .teveluz{
		filter: grayscale(100%);
	}
	.adn:hover, .luz_periodico:hover, .radio:hover, .luzweb:hover, .teveluz:hover{
		filter: grayscale(0%);
	}
	.estilos_periodico .items-row .article-title{
		padding-top: 5px;
	}
	.estilos_periodico .items-row .article-intro{
		margin-bottom: 7px;
		margin-left: -4px;
	}
	.home .estilos_articulos{
		height: 55em;
	}
	.view-search .search{
		margin-top: -1758px;
		width: 70%;
		margin-left: 46px;
	}
	.view-search .col-lg-12{
		height: 134em;
	}
	@media(min-width: 320px) and (max-width: 559px){
		.moduleiconos_redes img{
			margin-right: 15px;
		}
		.moduleiconos_redes{
			left: -2%;
		}
		.modulebuscar .searchbuscar{
			width: 66%;
		}
		.categorias .moduleperiodico_impreso{
			top: 139% !important;
		}
		.moduleluz_medios img{
			margin-top: 63px;
		}
		.estilos_articulos{
			margin-bottom: -1097px;
			margin-left: -3% !important;
			width: 109%;

		}
		.view-search .search{
			margin-top: -2446px;
		}
		.view-search .modulesnapchat{
			display: none;
		}
		.view-search #t3-mainbody{
			padding-bottom: 0px;
		}
	}
}