.estilos_articulos{
    margin-top: -1500px;
    width: 69%;
    margin-left: 5%;
    height: 85em;
    overflow-y: auto;
}
.view-article .modulesim{
	display: none;
}
.estilos_articulos .article-content p{
    font-size: 1.1em;
}
.estilos_articulos .published{
	font-size: 1.8em;
}
.modulesim_articulos{
    margin-left: -131%;
    margin-top: -400px;
    width: 474%;
}
.estilos_articulos p strong{
	font-weight: 900;
}
.estilos_articulos .accordion-heading a{
	background-color: #11549a;
	border-color: #11549a;
	color:white;
}
.estilos_articulos .accordion-heading a:hover{
	background-color: #11549a !important;
	color:white !important;
	border-color: #11549a;
}
@media (min-width: 320px) and (max-width: 559px){
	.estilos_articulos{
        position: relative;
		margin-left: 0% !important;
		width: 100%;
        margin-top: 0px;
        bottom: 109em;
        height: 152em;
	}
	.estilos_articulos .article-content p{
		font-size: 1.3em;
	}
	.imagen_responsive{
		width: 100% !important;
	}
	.imagen_responsive span{
		font-size: 1.07em !important;
	}
}