/**
 * @package         Sliders
 * @version         6.0.2
 * 
 * @author          Peter van Westen <info@regularlabs.com>
 * @link            http://www.regularlabs.com
 * @copyright       Copyright © 2016 Regular Labs All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/css/sliders/style.min.css
 */
.rl_sliders .fade {
  opacity: 0;
  -webkit-transition: opacity 1ms linear;
  -moz-transition: opacity 1ms linear;
  -o-transition: opacity 1ms linear;
  transition: opacity 1ms linear;
}
.rl_sliders .fade.in {
  opacity: 1;
}
.rl_sliders.has_effects .fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.rl_sliders .collapse {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 1ms ease;
  -moz-transition: height 1ms ease;
  -o-transition: height 1ms ease;
  transition: height 1ms ease;
}
.rl_sliders .collapse.in {
  height: auto;
}
.rl_sliders.has_effects .collapse {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.rl_sliders.accordion {
  margin-bottom: 18px;
}
.rl_sliders.accordion > .accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.rl_sliders.accordion > .accordion-group .accordion-heading {
  border-bottom: 0;
}
.rl_sliders.accordion > .accordion-group .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
  cursor: pointer;
}
.rl_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
.rl_sliders.accordion > .accordion-group > .accordion-body.in:hover {
  overflow: visible;
}
@font-face {
  font-family: 'IcoMoon';
  src: url('../../jui/fonts/IcoMoon.eot');
  src: url('../../jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../jui/fonts/IcoMoon.svg#IcoMoon') format('svg'), url('../../jui/fonts/IcoMoon.woff') format('woff'), url('../../jui/fonts/IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.rl_sliders.accordion {
  *zoom: 1;
  margin-bottom: 1em;
}
.rl_sliders.accordion:before,
.rl_sliders.accordion:after {
  display: table;
  content: "";
  line-height: 0;
}
.rl_sliders.accordion:after {
  clear: both;
}
.rl_sliders.accordion:last-child {
  margin-bottom: 0;
}
.rl_sliders.accordion > .accordion-group {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.rl_sliders.accordion > .accordion-group .panel-heading {
  padding: 0;
}
.rl_sliders.accordion > .accordion-group > .accordion-heading > a.accordion-toggle {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.rl_sliders.accordion > .accordion-group > .accordion-heading > a.accordion-toggle:hover {
  background-color: #eeeeee;
  color: #1f496e;
  text-decoration: none;
}
.rl_sliders.accordion > .accordion-group > .accordion-heading > a.accordion-toggle span.rl_sliders-title-inactive {
  display: inherit;
}
.rl_sliders.accordion > .accordion-group > .accordion-heading > a.accordion-toggle span.rl_sliders-title-active {
  display: none;
}
.rl_sliders.accordion > .accordion-group.active > .accordion-heading > a.accordion-toggle {
  background-color: #f8f8f8;
  color: #3071a9;
}
.rl_sliders.accordion > .accordion-group.active > .accordion-heading > a.accordion-toggle span.rl_sliders-title-inactive {
  display: none;
}
.rl_sliders.accordion > .accordion-group.active > .accordion-heading > a.accordion-toggle span.rl_sliders-title-active {
  display: inherit;
}
.rl_sliders.accordion > .accordion-group > div > a:focus,
.rl_sliders.accordion > .accordion-group.active > div > a:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 2px #eab03f;
  box-shadow: inset 0 0 2px #eab03f;
}
.rl_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner {
  padding: 15px;
  overflow-y: hidden !important;
  overflow-x: auto;
  *zoom: 1;
}
.rl_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner:before,
.rl_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.rl_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner:after {
  clear: both;
}
.rl_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner > :first-child {
  margin-top: 0;
}
.rl_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner > :last-child {
  margin-bottom: 0;
}
.rl_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner .rl_sliders-title {
  display: none;
}
.rl_sliders.accordion > .accordion-group.icon > .accordion-heading > a.accordion-toggle span.rl_sliders-toggle-inner:before {
  display: inline-block;
  *margin-right: .3em;
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
  content: "\2a";
}
.rl_sliders.accordion > .accordion-group.icon.active > .accordion-heading > a.accordion-toggle span.rl_sliders-toggle-inner:before {
  content: "\4b";
}
.rl_sliders.accordion > .accordion-group.blue {
  border-top: 5px solid #e5e5e5;
  border-top-color: #74b4e8;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.blue:hover,
.rl_sliders.accordion > .accordion-group.blue.active {
  border-top-color: #2384d3;
}
.rl_sliders.accordion > .accordion-group.blue.solid {
  border-color: #74b4e8;
}
.rl_sliders.accordion > .accordion-group.blue.solid > .accordion-heading > a.accordion-toggle {
  background-color: #74b4e8;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.blue.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.blue.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #f7fbfe;
  border-color: #f7fbfe;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.blue.solid:hover,
.rl_sliders.accordion > .accordion-group.blue.solid.active {
  border-color: #2384d3;
}
.rl_sliders.accordion > .accordion-group.blue:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.blue.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #2384d3;
}
.rl_sliders.accordion > .accordion-group.primary {
  border-top: 5px solid #e5e5e5;
  border-top-color: #74b4e8;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.primary:hover,
.rl_sliders.accordion > .accordion-group.primary.active {
  border-top-color: #2384d3;
}
.rl_sliders.accordion > .accordion-group.primary.solid {
  border-color: #74b4e8;
}
.rl_sliders.accordion > .accordion-group.primary.solid > .accordion-heading > a.accordion-toggle {
  background-color: #74b4e8;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.primary.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.primary.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #f7fbfe;
  border-color: #f7fbfe;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.primary.solid:hover,
.rl_sliders.accordion > .accordion-group.primary.solid.active {
  border-color: #2384d3;
}
.rl_sliders.accordion > .accordion-group.primary:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.primary.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #2384d3;
}
.rl_sliders.accordion > .accordion-group.info {
  border-top: 5px solid #e5e5e5;
  border-top-color: #47b0cf;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.info:hover,
.rl_sliders.accordion > .accordion-group.info.active {
  border-top-color: #24748c;
}
.rl_sliders.accordion > .accordion-group.info.solid {
  border-color: #47b0cf;
}
.rl_sliders.accordion > .accordion-group.info.solid > .accordion-heading > a.accordion-toggle {
  background-color: #47b0cf;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.info.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.info.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #c0e4ef;
  border-color: #c0e4ef;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.info.solid:hover,
.rl_sliders.accordion > .accordion-group.info.solid.active {
  border-color: #24748c;
}
.rl_sliders.accordion > .accordion-group.info:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.info.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #24748c;
}
.rl_sliders.accordion > .accordion-group.green {
  border-top: 5px solid #e5e5e5;
  border-top-color: #62bc62;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.green:hover,
.rl_sliders.accordion > .accordion-group.green.active {
  border-top-color: #378137;
}
.rl_sliders.accordion > .accordion-group.green.solid {
  border-color: #62bc62;
}
.rl_sliders.accordion > .accordion-group.green.solid > .accordion-heading > a.accordion-toggle {
  background-color: #62bc62;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.green.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.green.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #cdeacd;
  border-color: #cdeacd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.green.solid:hover,
.rl_sliders.accordion > .accordion-group.green.solid.active {
  border-color: #378137;
}
.rl_sliders.accordion > .accordion-group.green:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.green.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #378137;
}
.rl_sliders.accordion > .accordion-group.success {
  border-top: 5px solid #e5e5e5;
  border-top-color: #62bc62;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.success:hover,
.rl_sliders.accordion > .accordion-group.success.active {
  border-top-color: #378137;
}
.rl_sliders.accordion > .accordion-group.success.solid {
  border-color: #62bc62;
}
.rl_sliders.accordion > .accordion-group.success.solid > .accordion-heading > a.accordion-toggle {
  background-color: #62bc62;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.success.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.success.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #cdeacd;
  border-color: #cdeacd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.success.solid:hover,
.rl_sliders.accordion > .accordion-group.success.solid.active {
  border-color: #378137;
}
.rl_sliders.accordion > .accordion-group.success:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.success.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #378137;
}
.rl_sliders.accordion > .accordion-group.orange {
  border-top: 5px solid #e5e5e5;
  border-top-color: #faa937;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.orange:hover,
.rl_sliders.accordion > .accordion-group.orange.active {
  border-top-color: #c67605;
}
.rl_sliders.accordion > .accordion-group.orange.solid {
  border-color: #faa937;
}
.rl_sliders.accordion > .accordion-group.orange.solid > .accordion-heading > a.accordion-toggle {
  background-color: #faa937;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.orange.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.orange.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #fee9cc;
  border-color: #fee9cc;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.orange.solid:hover,
.rl_sliders.accordion > .accordion-group.orange.solid.active {
  border-color: #c67605;
}
.rl_sliders.accordion > .accordion-group.orange:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.orange.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #c67605;
}
.rl_sliders.accordion > .accordion-group.warning {
  border-top: 5px solid #e5e5e5;
  border-top-color: #faa937;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.warning:hover,
.rl_sliders.accordion > .accordion-group.warning.active {
  border-top-color: #c67605;
}
.rl_sliders.accordion > .accordion-group.warning.solid {
  border-color: #faa937;
}
.rl_sliders.accordion > .accordion-group.warning.solid > .accordion-heading > a.accordion-toggle {
  background-color: #faa937;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.warning.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.warning.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #fee9cc;
  border-color: #fee9cc;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.warning.solid:hover,
.rl_sliders.accordion > .accordion-group.warning.solid.active {
  border-color: #c67605;
}
.rl_sliders.accordion > .accordion-group.warning:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.warning.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #c67605;
}
.rl_sliders.accordion > .accordion-group.red {
  border-top: 5px solid #e5e5e5;
  border-top-color: #d3534c;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.red:hover,
.rl_sliders.accordion > .accordion-group.red.active {
  border-top-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.red.solid {
  border-color: #d3534c;
}
.rl_sliders.accordion > .accordion-group.red.solid > .accordion-heading > a.accordion-toggle {
  background-color: #d3534c;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.red.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.red.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #f1c9c7;
  border-color: #f1c9c7;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.red.solid:hover,
.rl_sliders.accordion > .accordion-group.red.solid.active {
  border-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.red:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.red.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.danger {
  border-top: 5px solid #e5e5e5;
  border-top-color: #d3534c;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.danger:hover,
.rl_sliders.accordion > .accordion-group.danger.active {
  border-top-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.danger.solid {
  border-color: #d3534c;
}
.rl_sliders.accordion > .accordion-group.danger.solid > .accordion-heading > a.accordion-toggle {
  background-color: #d3534c;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.danger.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.danger.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #f1c9c7;
  border-color: #f1c9c7;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.danger.solid:hover,
.rl_sliders.accordion > .accordion-group.danger.solid.active {
  border-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.danger:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.danger.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.error {
  border-top: 5px solid #e5e5e5;
  border-top-color: #d3534c;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.error:hover,
.rl_sliders.accordion > .accordion-group.error.active {
  border-top-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.error.solid {
  border-color: #d3534c;
}
.rl_sliders.accordion > .accordion-group.error.solid > .accordion-heading > a.accordion-toggle {
  background-color: #d3534c;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.error.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.error.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #f1c9c7;
  border-color: #f1c9c7;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.error.solid:hover,
.rl_sliders.accordion > .accordion-group.error.solid.active {
  border-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.error:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.error.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #942a25;
}
.rl_sliders.accordion > .accordion-group.grey {
  border-top: 5px solid #e5e5e5;
  border-top-color: #b3b3b3;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.grey:hover,
.rl_sliders.accordion > .accordion-group.grey.active {
  border-top-color: #808080;
}
.rl_sliders.accordion > .accordion-group.grey.solid {
  border-color: #b3b3b3;
}
.rl_sliders.accordion > .accordion-group.grey.solid > .accordion-heading > a.accordion-toggle {
  background-color: #b3b3b3;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.grey.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.grey.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #ffffff;
  border-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.grey.solid:hover,
.rl_sliders.accordion > .accordion-group.grey.solid.active {
  border-color: #808080;
}
.rl_sliders.accordion > .accordion-group.grey:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.grey.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #808080;
}
.rl_sliders.accordion > .accordion-group.gray {
  border-top: 5px solid #e5e5e5;
  border-top-color: #b3b3b3;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
}
.rl_sliders.accordion > .accordion-group.gray:hover,
.rl_sliders.accordion > .accordion-group.gray.active {
  border-top-color: #808080;
}
.rl_sliders.accordion > .accordion-group.gray.solid {
  border-color: #b3b3b3;
}
.rl_sliders.accordion > .accordion-group.gray.solid > .accordion-heading > a.accordion-toggle {
  background-color: #b3b3b3;
  color: #ffffff;
}
.rl_sliders.accordion > .accordion-group.gray.solid > .accordion-heading > a.accordion-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rl_sliders.accordion > .accordion-group.gray.solid.solid.color_content > .accordion-body > .accordion-inner {
  background-color: #ffffff;
  border-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.rl_sliders.accordion > .accordion-group.gray.solid:hover,
.rl_sliders.accordion > .accordion-group.gray.solid.active {
  border-color: #808080;
}
.rl_sliders.accordion > .accordion-group.gray:hover.solid > .accordion-heading > a.accordion-toggle,
.rl_sliders.accordion > .accordion-group.gray.active.solid > .accordion-heading > a.accordion-toggle {
  background-color: #808080;
}
.rl_sliders.accordion .rl_sliders-scroll {
  position: relative;
  visibility: hidden;
  padding: 0;
}
@media print {
  .rl_sliders .rl_sliders-group {
    border: 0 !important;
  }
  .rl_sliders .accordion-heading {
    display: none !important;
  }
  .rl_sliders .accordion-body {
    display: block !important;
    opacity: 1 !important;
    height: auto !important;
  }
  .rl_sliders .rl_sliders-title {
    display: block !important;
  }
  .rl_sliders .accordion-inner {
    border: 0 !important;
    padding: 0 !important;
  }
}
