/*
#------------------------------------------------------------------------
# Package - JoomlaMan JMSlideShow
# Version 1.0
# -----------------------------------------------------------------------
# Author - JoomlaMan http://www.joomlaman.com
# Copyright © 2012 - 2013 JoomlaMan.com. All Rights Reserved.
# @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
# Websites: http://www.JoomlaMan.com
#------------------------------------------------------------------------
*/
.jmnewspro.layout7 {
  padding: 20px 0;
  position: relative;
  color: #E5E5E5;
  direction: ltr;
}
.jmnewspro.layout7  .slide-item-image{
  border: 1px solid #ebebeb;
  padding: 2px;
}
.jmnewspro.layout7  .slide-item-title{
  color: #FFC92B;
  font-weight: bold;
  margin: 10px 0;
}
.jmnewspro.layout7  .slide-item-title a:hover,
.jmnewspro.layout7 span.slide-item-readmore a:hover{
  color: #FE8F0A;
}
.jmnewspro.layout7  .slide-item-title a,
.jmnewspro.layout7 span.slide-item-readmore a{
  color: #FFC92B;
  font-size:16px;
}
.jmnewspro.layout7 .slide-item-desc {
  font-size:12px;
  padding-bottom:10px;
}
.jmnewspro.layout7 .jmnewspro-prev a,
.jmnewspro.layout7 .jmnewspro-next a{
  cursor: pointer;
  display: block;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 50%;
    transform: translateY(-50%);
  width: 20px;
}
.jmnewspro.layout7 .jmnewspro-prev a{
  background: url("../images/button.png") no-repeat scroll 0 -40px transparent;
}
.jmnewspro.layout7 .jmnewspro-next a{
  background: url("../images/button.png") no-repeat scroll 0 0 transparent;
  right: 0;
}
.jmnewspro.layout7 .bx-wrapper {
  position: relative;
  margin: 0 auto 0;
  padding: 0;
  *zoom: 1;
}
.jmnewspro.layout7 .bx-wrapper img {
  max-width: 100%;
  display: block;
}
.slide-item{
  background: url("../images/bgimg.jpg") no-repeat scroll transparent;	
  background-size: 100% 100%;
}
/** THEME
===================================*/
.jmnewspro.layout7 .bx-pager ul{
  list-style-type: none !important;
  margin: 3px 0 0 !important;
  padding: 0 !important;
  float: left;
}
.jmnewspro.layout7 .bx-pager ul li {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px 0 0 !important;
}
.jmnewspro.layout7 .bx-pager ul li a{
  background: url('../images/interface.png') no-repeat 50% 0;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  width: 8px;
  height: 8px;
  overflow: hidden;
}
.jmnewspro.layout7 .bx-pager ul li a:hover,
.jmnewspro.layout7 .bx-pager ul li a.active {
  background-position: 50% -8px;
}
.jmnewspro.layout7 .slide-inner{
  padding:0px!important;
}
.jmnewspro.layout7 .slide-inner .padding{
  padding: 0 8px !important
}
.css3 .view{
  float: none!important;
}
/** CSS3 effect
===================================*/
.jmnewspro.layout7 .slide-item-wrap-item img {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.jmnewspro.layout7 .slide-item-wrap-item .slide-item-desc-warp {
  background-color: rgba(77, 44, 35, 0.5);
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

}


.jmnewspro.layout7 .slide-item-wrap-item .slide-item-title {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}
.jmnewspro.layout7 .slide-item-wrap-item .slide-item-desc {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.jmnewspro.layout7 .slide-item-wrap-item .slide-item-readmore .slide-item-readmore a {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.jmnewspro.layout7 .slide-item-wrap-item:hover img{
  -webkit-transform: rotate(720deg) scale(0);
  -moz-transform: rotate(720deg) scale(0);
  -o-transform: rotate(720deg) scale(0);
  -ms-transform: rotate(720deg) scale(0);
  transform: rotate(720deg) scale(0);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.jmnewspro.layout7 .slide-item-wrap-item:hover .slide-item-desc-warp {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg);
  -moz-transform: translateY(0px) rotate(0deg);
  -o-transform: translateY(0px) rotate(0deg);
  -ms-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.jmnewspro.layout7 .slide-item-wrap-item:hover .slide-item-title{
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.jmnewspro.layout7 .slide-item-wrap-item:hover .slide-item-desc{
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.jmnewspro.layout7 .slide-item-wrap-item:hover .slide-item-readmore a {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}				
