/*
#------------------------------------------------------------------------
# Package - JoomlaMan JMSlideShow
# Version 1.0
# -----------------------------------------------------------------------
# Author - JoomlaMan http://www.joomlaman.com
# Copyright © 2012 - 2013 JoomlaMan.com. All Rights Reserved.
# @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
# Websites: http://www.JoomlaMan.com
#------------------------------------------------------------------------
*/
.jmnewspro.default {
    padding: 20px 0;
    position: relative;
    direction: ltr;
}
.jmnewspro.default  .slide-item-image{
    border: 1px solid #ebebeb;
    padding: 2px;
}
.jmnewspro.default  .slide-item-image a{
    overflow: hidden;
    display: block;
}
.jmnewspro.default  .slide-item-title{
    color: #FFC92B;
    font-weight: bold;
    margin: 10px 0;
}
.jmnewspro.default  .slide-item-title a:hover, 
.jmnewspro.default span.slide-item-readmore a:hover{
	color: #FE8F0A;
}
.jmnewspro.default  .slide-item-title a,
.jmnewspro.default span.slide-item-readmore a{
	color: #FFC92B;
	font-size:16px;
}
.jmnewspro.default .slide-item-desc {
	font-size:12px;
	padding-bottom:10px;
}
.jmnewspro.default .jmnewspro-prev a,
.jmnewspro.default .jmnewspro-next a{
    cursor: pointer;
    display: block;
    height: 40px;
	font-size:0px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}
.jmnewspro.default .jmnewspro-prev a{
    background: url("../images/button.png") no-repeat scroll 0 -40px transparent;
}
.jmnewspro.default .jmnewspro-next a{
    background: url("../images/button.png") no-repeat scroll 0 0 transparent;
    right: 0;
}
.jmnewspro.default .jmnewsprohover{
    background: rgba(0,0,0,0.8);
		color: #e5e5e5;
    position: absolute;
    bottom: 0;
    height: 0;
    text-align: center;
}
.jmnewspro.default .jmnewsprohover .slide-inner{
    padding: 12px 22px;
}
.jmnewspro.default .bx-wrapper {
    position: relative;
    margin: 0 auto 0;
    padding: 0;
    *zoom: 1;
}
.jmnewspro.default .bx-wrapper img {
    max-width: 100%;
		width: 100%;
    display: block;
    -webkit-transition: all .18s linear;
    -moz-transition: all .18s linear;
    -ms-transition: all .18s linear;
    -o-transition: all .18s linear;
    transition: all .18s linear;
}
/** THEME
===================================*/
.jmnewspro.default .bx-pager ul{
    list-style-type: none !important;
    margin: 3px 0 0 !important;
    padding: 0 !important;
    float: left;
}
.jmnewspro.default .bx-pager ul li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px 0 0 !important;
}
.jmnewspro.default .bx-pager ul li a{
    background: url('../images/interface.png') no-repeat 50% 0;
    text-indent: -999em;
    cursor: pointer;
    display: block;
    width: 8px;
    height: 8px;
    overflow: hidden;
}
.jmnewspro.default .bx-pager ul li a:hover,
.jmnewspro.default .bx-pager ul li a.active {
    background-position: 50% -8px;
}
.jmnewspro.default .jmnewspro.jmnewspro.default img:hover {
    -webkit-transform: scale(1.1) rotateZ(-3deg);
    -moz-transform: scale(1.1) rotateZ(-3deg);
    -ms-transform: scale(1.1) rotateZ(-3deg);
    -o-transform: scale(1.1) rotateZ(-3deg);
    transform: scale(1.1) rotateZ(-3deg);
}