/*
#------------------------------------------------------------------------
# Package - JoomlaMan JMSlideShow
# Version 1.0
# -----------------------------------------------------------------------
# Author - JoomlaMan http://www.joomlaman.com
# Copyright © 2012 - 2013 JoomlaMan.com. All Rights Reserved.
# @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
# Websites: http://www.JoomlaMan.com
#------------------------------------------------------------------------
*/
.jmnewspro.layout8 {
  padding: 20px 0;
  position: relative;
  color: #E5E5E5;
  direction: ltr;
}
.jmnewspro.layout8  .slide-item-image{
  border: 1px solid #ebebeb;
  padding: 2px;
}
.jmnewspro.layout8  .slide-item-title{
  color: #FFC92B;
  font-weight: bold;
  margin: 10px 0;
}
.jmnewspro.layout8  .slide-item-title a:hover,
.jmnewspro.layout8 span.slide-item-readmore a:hover{
  color: #FE8F0A;
}
.jmnewspro.layout8  .slide-item-title a,
.jmnewspro.layout8 span.slide-item-readmore a{
  color: #FFC92B;
  font-size:16px;
}
.jmnewspro.layout8 .slide-item-desc {
  font-size:12px;
  padding-bottom:10px;
}
.jmnewspro.layout8 .jmnewspro-prev a,
.jmnewspro.layout8 .jmnewspro-next a{
  cursor: pointer;
  display: block;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 50%;
    transform: translateY(-50%);
  width: 20px;
}
.jmnewspro.layout8 .jmnewspro-prev a{
  background: url("../images/button.png") no-repeat scroll 0 -40px transparent;
}
.jmnewspro.layout8 .jmnewspro-next a{
  background: url("../images/button.png") no-repeat scroll 0 0 transparent;
  right: 0;
}
.jmnewspro.layout8 hover{
  background: rgba(0,0,0,0.8);
  color: #e5e5e5;
  position: absolute;
  bottom: 0;
  height: 0;
  text-align: center;
}
.jmnewspro.layout8:hover .slide-inner{
  padding: 0px!important;
}
.jmnewspro.layout8 .bx-wrapper {
  position: relative;
  margin: 0 auto 0;
  padding: 0;
  *zoom: 1;
}
.jmnewspro.layout8 .bx-wrapper img {
  max-width: 100%;
  display: block;
}
/** THEME
===================================*/
.jmnewspro.layout8 .bx-pager ul{
  list-style-type: none !important;
  margin: 3px 0 0 !important;
  padding: 0 !important;
  float: left;
}
.jmnewspro.layout8 .bx-pager ul li {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px 0 0 !important;
}
.jmnewspro.layout8 .bx-pager ul li a{
  background: url('../images/interface.png') no-repeat 50% 0;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  width: 8px;
  height: 8px;
  overflow: hidden;
}
.jmnewspro.layout8 .bx-pager ul li a:hover,
.jmnewspro.layout8 .bx-pager ul li a.active {
  background-position: 50% -8px;
}
.slide-inner {
  float: left;
}
.slide-inner .padding{
  padding: 0 8px !important
}
.css3 .view{
  float: none!important;
}
/** CSS3 effect
===================================*/

.jmnewspro.layout8 .slide-item-wrap-item .slide-item-desc-warp {
  background-color: rgba(0, 0, 0, 0.8);
  top: -200px;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.5s;
  -moz-transition: all 0.3s ease-out 0.5s;
  -o-transition: all 0.3s ease-out 0.5s;
  -ms-transition: all 0.3s ease-out 0.5s;
  transition: all 0.3s ease-out 0.5s;

}


.jmnewspro.layout8 .slide-item-wrap-item .slide-item-title {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -moz-transition: all 0.2s ease-in-out 0.1s;
  -o-transition: all 0.2s ease-in-out 0.1s;
  -ms-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;

}
.jmnewspro.layout8 .slide-item-wrap-item .slide-item-desc {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  -moz-transition: all 0.2s ease-in-out 0.2s;
  -o-transition: all 0.2s ease-in-out 0.2s;
  -ms-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
}

.jmnewspro.layout8 .slide-item-wrap-item .slide-item-readmore .slide-item-readmore a {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out 0.3s;
  -moz-transition: all 0.2s ease-in-out 0.3s;
  -o-transition: all 0.2s ease-in-out 0.3s;
  -ms-transition: all 0.2s ease-in-out 0.3s;
  transition: all 0.2s ease-in-out 0.3s;
}
.jmnewspro.layout8 .slide-item-wrap-item:hover .slide-item-desc-warp {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-animation: bounceY 0.9s linear;
  -moz-animation: bounceY 0.9s linear;
  -ms-animation: bounceY 0.9s linear;
  animation: bounceY 0.9s linear;
}
.jmnewspro.layout8 .slide-item-wrap-item:hover .slide-item-title{
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.jmnewspro.layout8 .slide-item-wrap-item:hover .slide-item-desc{
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.jmnewspro.layout8 .slide-item-wrap-item:hover .slide-item-readmore a {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
@keyframes bounceY {
  0% { transform: translateY(-205px);}
40% { transform: translateY(-100px);}
65% { transform: translateY(-52px);}
82% { transform: translateY(-25px);}
92% { transform: translateY(-12px);}
55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
  0% { -moz-transform: translateY(-205px);}
40% { -moz-transform: translateY(-100px);}
65% { -moz-transform: translateY(-52px);}
82% { -moz-transform: translateY(-25px);}
92% { -moz-transform: translateY(-12px);}
55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
  0% { -webkit-transform: translateY(-205px);}
40% { -webkit-transform: translateY(-100px);}
65% { -webkit-transform: translateY(-52px);}
82% { -webkit-transform: translateY(-25px);}
92% { -webkit-transform: translateY(-12px);}
55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}

