/* * --------------------------------------------------------------------
  # Package - JoomlaMan JMNewsPro
  # Version 1.0
  # --------------------------------------------------------------------
  # Author - JoomlaMan http://www.joomlaman.com
  # Copyright ï¿½ 2012 - 2013 JoomlaMan.com. All Rights Reserved.
  # @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
  # Websites: http://www.JoomlaMan.com
  ---------------------------------------------------------------------*
*/
/* Navigation
============================*/
#filters{
    list-style:none;
    padding: 0;
    margin: 0 0 20px 0;
}
#filters li{
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: 'open_sansregular';
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#filters li a{
  color: #888888;
  padding: 0px 10px;
  line-height:25px;
  display:block;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid #ececec;
  border-left:0;
  border-top: 0;
  border-radius: 4px;
  background: #F5F5F5; 
}
#filters li a:before{
  content: "";
  margin-right: 0px;
}
#filters li.current a,
#filters li a:hover{
  background: #00C3B6;
  color: #fff;
}
/* End Navigation
============================*/

/* Style for each Item*/

.portfolio {
    padding: 0;
    position: relative;
}
.slide-item-wrap-item{
  position:relative;
  overflow: hidden;
}

.portfolio .jmnewsprohover .slide-inner .padding {
  margin: 0;
  background: rgba(0,0,0,0.7);
  height: 100%;
}
.portfolio .jmnewsprohover .slide-inner .padding2{
  padding-top: 20%;
}
.portfolio  .slide-item-image{
    padding: 0px;
}
.portfolio  .slide-item-image a{
    overflow: hidden;
    display: block;
}
.portfolio  .slide-item-image img{
  width: 100% !important;
}

.portfolio .detailButtonWrap{
  margin-bottom: 30px;
}

.portfolio .slide-item-readmore,
.portfolio .slide-item-zoom{
   color: #91d9ee;
   outline: none;
   border-radius: 50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   -o-border-radius:50%;
   -webkit-border-radius:50%;
   -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
.portfolio .slide-item-readmore{
  margin-right: 10px;
}
.portfolio .slide-item-readmore:hover,
.portfolio .slide-item-zoom:hover,
.portfolio .slide-item-readmore:active ,
.portfolio .slide-item-zoom:active,
.portfolio .slide-item-readmore:focus,
.portfolio .slide-item-zoom:focus{
  border-color: #fff;
  color: #fff;
}

.portfolio .jmnewsprohover .slide-item-title{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'open_sanssemibold';
  font-size:22px;
  color: #fff;
}
.portfolio .jmnewsprohover .slide-item-title .entry-title{
  color: #fff;
}
.portfolio .jmnewsprohover .slide-item-title a{
  color: #fff;
  font-size: 22px;
}
.portfolio .category{
  font-size: 18px;
  text-transform: uppercase;
}
.portfolio .slide-item-desc {
  font-size:12px;
  padding-bottom:10px;
}

.portfolio .jmnewsprohover{
  bottom: 0;
  color: #E5E5E5;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.portfolio .slide-item-image{
  left:0;
}
.portfolio .jmnewsprohover .slide-inner{
  width:100%;
  height:100%;
  position:absolute;
}
.portfolio .bx-wrapper {
    position: relative;
    margin: 0 auto 0;
    padding: 0;
    *zoom: 1;
}
.portfolio .bx-wrapper img {
    max-width: 100%;
    display: block;
    -webkit-transition: all .18s linear;
    -moz-transition: all .18s linear;
    -ms-transition: all .18s linear;
    -o-transition: all .18s linear;
    transition: all .18s linear;
}
/* navigation*/
.portfolio .jmnewspro-prev,
.portfolio .jmnewspro-next{
    cursor: pointer;
    display: block;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}
.portfolio .jmnewspro-prev{
}
.portfolio .jmnewspro-next{
    right: 0;
}
/* End navigation*/

/** Pager
===================================*/
.portfolio .bx-pager ul{
    list-style-type: none !important;
    margin: 3px 0 0 !important;
    padding: 0 !important;
    float: left;
}
.portfolio .bx-pager ul li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px 0 0 !important;
}
.portfolio .bx-pager ul li a{
    text-indent: -999em;
    cursor: pointer;
    display: block;
    width: 8px;
    height: 8px;
    overflow: hidden;
}
.portfolio .bx-pager ul li a:hover,
.portfolio .bx-pager ul li a.active {
    background-position: 50% -8px;
}
.portfolio .bx-wrapper .bx-controls-direction{
    display: none;
}
/* End pager */

/* Effect Style
===========================*/
.portfolio .slide-item-wrap-item .slide-item-desc-warp {
  opacity:0;
  transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}
.portfolio .slide-item-wrap-item:hover .slide-item-desc-warp {
  opacity:1;
  transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}

.portfolio .in-top .slide-inner {
	top: 0;
	left:0;
  -webkit-animation: in-top 500ms  ease 0ms 1 forwards;
  -moz-animation: in-top 500ms  ease 0ms 1 forwards;
  -o-animation: in-top 500ms  ease 0ms 1 forwards;
  -ms-animation: in-top 500ms  ease 0ms 1 forwards;
}
.portfolio .in-right .slide-inner{
	top: 0;
	left:auto;
  -webkit-animation: in-right 500ms ease 0ms 1 forwards;
  -moz-animation: in-right 500ms ease 0ms 1 forwards;
  -o-animation: in-right 500ms ease 0ms 1 forwards;
  -ms-animation: in-right 500ms ease 0ms 1 forwards;
}
.portfolio .in-bottom .slide-inner {
	top: auto;
	left:0;
  -webkit-animation: in-bottom 500ms ease 0ms 1 forwards;
  -moz-animation: in-bottom 500ms ease 0ms 1 forwards;
  -o-animation: in-bottom 500ms ease 0ms 1 forwards;
  -ms-animation: in-bottom 500ms ease 0ms 1 forwards;
}
.portfolio .in-left .slide-inner {
	top: 0;
	left:0;
  -webkit-animation: in-left 500ms  ease 0ms 1 forwards;
  -o-animation: in-left 500ms  ease 0ms 1 forwards;
  -ms-animation: in-left 500ms  ease 0ms 1 forwards;
  -moz-animation: in-left 500ms  ease 0ms 1 forwards;
}
.portfolio .out-top .slide-inner {
	top: 0;
	left:0;
  -webkit-animation: out-top 500ms  ease 0ms 1 forwards;
  -moz-animation: out-top 500ms  ease 0ms 1 forwards;
  -ms-animation: out-top 500ms  ease 0ms 1 forwards;
  -moz-animation: out-top 500ms  ease 0ms 1 forwards;
}
.portfolio .out-right .slide-inner {
	top: 0;
	left:auto;
  -webkit-animation: out-right 500ms  ease 0ms 1 forwards;
  -moz-animation: out-right 500ms  ease 0ms 1 forwards;
  -o-animation: out-right 500ms  ease 0ms 1 forwards;
  -ms-animation: out-right 500ms  ease 0ms 1 forwards;
}
.portfolio .out-bottom .slide-inner {
	top: auto;
	left:0;
  -webkit-animation: out-bottom 500ms  ease 0ms 1 forwards;
  -moz-animation: out-bottom 500ms  ease 0ms 1 forwards;
  -o-animation: out-bottom 500ms  ease 0ms 1 forwards;
  -ms-animation: out-bottom 500ms  ease 0ms 1 forwards;
}
.portfolio .out-left .slide-inner{
	top: 0;
	left:0;
  -webkit-animation: out-left 500ms  ease 0ms 1 forwards;
  -moz-animation: out-left 500ms  ease 0ms 1 forwards;
  -o-animation: out-left 500ms  ease 0ms 1 forwards;
  -ms-animation: out-left 500ms  ease 0ms 1 forwards;
}
@keyframes in-top {
  0% {
    top : -100%;
  }
  60%{
  top :10%;
  }
  100% {
    top:0;
  }
}
@-webkit-keyframes in-top {
  0% {
    top : -100%;
  }
  60%{
  top :10%;
  }
  100% {
    top:0;
  }
}
@keyframes in-right {
  0%  {
    right:-100%;
  }
  60%{
  right :10%;
  }
  100% {
    right:0;
  }
}
@-webkit-keyframes in-right {
  0%  {
    right:-100%;
  }
  60%{
  right :10%;
  }
  100% {
    right:0;
  }
}
@keyframes in-bottom {
  0%  {
    bottom:-100%;
  }
60%{
  bottom :10%;
  }
  100% {
    bottom:0;
  }
}
@-webkit-keyframes in-bottom {
  0%  {
    bottom:-100%;
  }
60%{
  bottom :10%;
  }
  100% {
    bottom:0;
  }
}
@keyframes in-left {
  0%  {
    left:-100%;
  }
60%{
  left :10%;
  }
  100% {
    left:0;
  }
}
@-webkit-keyframes in-left {
  0%  {
    left:-100%;
  }
60%{
  left :10%;
  }
  100% {
    left:0;
  }
}
@keyframes out-top {
  from {
    top:0;
  }
  100% {
    top:-100%;
  }
}
@-webkit-keyframes out-top {
  from {
    top:0;
  }
  100% {
    top:-100%;
  }
}
@keyframes out-right {
  0%  {
    right:0;
  }
  100% {
    right:-100%;
  }
}
@-webkit-keyframes out-right {
  0%  {
    right:0;
  }
  100% {
    right:-100%;
  }
}
@keyframes out-bottom {
  0%  {
    bottom:0;
  }
  100% {
    bottom:-100%;
  }
}
@-webkit-keyframes out-bottom {
  0%  {
    bottom:0;
  }
  100% {
    bottom:-100%;
  }
}
@keyframes out-left {
  0%  {
     left:0;
  }
  100%  {
    left:-100%;
  }
}
@-webkit-keyframes out-left {
  0%  {
     left:0;
  }
  100%  {
    left:-100%;
  }
}
.slider{
  position: relative;
}
.slide-item{
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transition:.8s;
  -webkit-transition:.8s;
}
.slide-item.jmhidden{
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
}

/* End Style Effect */

/* Style module for each template*/
/* 3 Columns
========================*/
.portfolio.cols3 .jmnewsprohover .slide-inner .padding2{
  padding-top: 15%;
}

.portfolio.cols3 .jmnewsprohover .slide-inner .slide-item-title .entry-title,
.portfolio.cols3 .jmnewsprohover .slide-inner .slide-item-title .entry-title a{
  font-size: 20px;
}

.portfolio.cols3 .category{
  font-size: 16px;
}
/* 4 Columns
========================*/
.portfolio.cols4 .jmnewsprohover .slide-inner .padding2{
  padding-top: 15%;
}

.portfolio.cols4 .jmnewsprohover .slide-inner .slide-item-title .entry-title,
.portfolio.cols4 .jmnewsprohover .slide-inner .slide-item-title .entry-title a{
  font-size: 18px;
}

.portfolio.cols4 .category{
  font-size: 14px;
}

.portfolio.cols4 .slide-item-readmore,
.portfolio.cols4 .slide-item-zoom{
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.portfolio.cols4 .detailButtonWrap{
  margin-bottom: 10px;
}


/* RTL version */
.rtl #filters li a:before{
  margin-right: 0px;
  margin-left: 5px;
}